{% extends "base.html" %}
{% block title %}Customers{% endblock %}
{% block content %}
<div class="card">
    <h2>Customers <a href="{{ url_for('sales.add_customer') }}" class="btn" style="float: right;">Add Customer</a></h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}